body{
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 32px;
    color: #828282;
    font-family: 'Montserrat', sans-serif;
}
img{
    max-width: 100%;
}

.display-flex{
    display: flex;
}

.half-width{
    width: 50%;
}

section.intro-section  .intro-contnet {
    padding-left: 100px;
    color: rebeccapurple;
}

.intro-content {
    padding-top: 120px;
}

section.intro-section .intro-content {
    margin-left: 5%;
}

.intro-content h1 {
    font-size: 60px;
    font-weight: 700;
    color: #575757;
    line-height: 78px;
    margin: 0;
}

.intro-content h1 span {
    color: #FBA24F;
}

.intro-section img {
    width: 90%;
}

.order-button {
    text-decoration: none;
    color: white;
    background: linear-gradient(88deg, #FBA24F, #FF1E1E);
    box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
    padding: 24px 32px;
    border-radius: 100px;
}

.intro-content p {
    margin-bottom: 50px;
}

.intro-section {
    padding: 50px 0;
}


.about-section {
    background-image: url(images/about-shape.png);
    background-size: cover;
    background-position: center;
}

.about-section img {
    width: 50%;
    padding-top: 50px;
    margin-bottom: -10px;
    margin: 0 auto;
    display: block;
}
.about-content {
    margin-right: 10%;
    padding-top: 115px;
}
.about-content h2 {
    color: #707070;
}
.about-content p {
    margin-bottom: 70px;
}


.recipe-section {
    padding: 80px 0;
}
.recipe-title {
    text-align: center;
    margin-bottom: 30px;
}

.recipe-title h1 {
    margin:  0 0 15px;
    color: #676767;
}

.recipe-container.display-flex {
    margin-left: 5%;
    margin-right: 5%;
}

.single-recipe {
    background: #fff;
    padding: 20px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    margin: 0 15px;
    color: #000;
}


.counter-section {
    background: #fff;
    padding: 65px 165px;
    box-shadow: 0px 0px 40px rgb(0 0 0 / 10%);
    width: 65%;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 80px;
    margin-top: 30px;
}

.single-counter {
    width: 33.3333333%;
    padding-left: 5%;
}

.single-counter h2 {
    color: #000;
    margin: 0;
    font-size: 48px;
}

.single-counter p {
    margin-bottom: 0;
}


.footer-area {
    background-color: #0B0D17;
    text-align: center;
    font-size: 16px;
    padding: 40px 0 50px 0;
}

.footer-area h1 span {
    color: #FBA24F;
}

.footer-area h1 {
    margin:  0;
    color: #5B5B5B;
    font-size: 30px;
    line-height: 41px;
    font-weight: 800;
}

.chef-section{
    background-image: url(images/chef-bg.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 0;
}

.chef-area.display-flex {
    margin-left: 5%;
    margin-right: 5%;
}

.single-chef img {
    max-height: 300px;
    width: 100%;
}

.single-chef {
    width: 24%;
    background: #fff;
    margin: 1%;
    box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
    border: 1px solid #ddd;
}

.single-chef h3 {
    color: #333;
    margin: 0;
    text-align: center;
    padding: 20px;
}

.single-chef h3 span {
    display: block;
    font-size: 75%;
    font-weight: 300;
    color: #ab9e9e;
}
.reservtion-section .recipe-title h1,
.chef-section .recipe-title, .chef-section .recipe-title h1 {
    color: #222;
}

.reservtion-section .recipe-title h1,
.chef-section .recipe-title h1{
    font-size: 42px;
}

.contact-form {
    width: 70%;
    margin: 0 auto;
}

.contact-form input, .contact-form select {
    width: 100%;
    padding: 12px;
    margin: 15px;
    border: 2px solid #cccccc;
    border-radius: 5px;
}

.contact-form input[type="submit"] {
    width: auto;
    border: none;
    border-radius: 5px;
    padding: 15px 40px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2px;
    margin: 0 auto;
    display: block;
    margin-top: 30px;
    cursor: pointer;
}

.reservtion-section {
    padding: 80px 0;
}


select,
#date,
#time,
::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-transform: capitalize;
}

#date{
    text-transform: uppercase;
}